.DS_Store

*.caffemodel
*.solverstate
*_iter*
tmp*.*
*.txt
*.csv
*.rar
*.zip
*.swp
bof/sift_feature*
bof/bof*
bof/kmeans_feature
bof/pics
data
*.jpg
*.jpeg
*.png
*.bmp
*.ppm
*.m~
*.mdb
vlfeat*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
