.DS_Store
nohup.out

*.log
*.caffemodel
*.solverstate
*_iter*
tmp*.*
*.txt
*.csv
*.rar
*.zip
*.swp
*.pyc
wine_web/media/*
bof/analyse
bof/pca_bof*
bof/tfidf_*
bof/sift*feature*
bof/vlsift*
bof/bof*
bof/kmeans_feature
bof/vlad_*
bof/pics
cnn/cnn_feature_train
cnn/cnn_feature_test2_autocut
seg_cnn/mask
seg_cnn/model_pascal
seg_cnn/second_train
seg_cnn/test2
seg_cnn/test2_mask
seg_cnn/train_boundary
data
*.jpg
*.jpeg
*.png
*.bmp
*.ppm
*.m~
*.mdb
vlfeat*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
